:root {
    --primary:#1E0E62;
    --secondary:#15143966;
    --tertiary:#482BE7;
    --white:#FFF;
    --white2:#F1F1F1;
    --gray-border:#EBEAED;
    --gray-logo:#9999a7;
    --aqua-button:#25DAC5;
}

body {
    width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: var(--white);
    height: 90px;
}

.header .logo {
    width: 190px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.29;
    color: var(--primary);
}

.header .email {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--gray-border);
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    background: var(--white);
    color: var(--primary);
    cursor: pointer;
}

main .presentacion {
    background: var(--white2);
    padding-left: 48px;
    font-family: 'DM Sans', sans-serif;
}

main .presentacion h1 {
    font-weight: 700px;
    font-size: 43px;
    line-height: 60px;
    color: var(--primary);
}

main .presentacion p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--secondary);
}

main .presentacion img {
    width: 100%;
    border-radius: 10px;
}

main .habilidades {
    background: var(--white2);
    padding-left: 48px;
    font-family: 'DM Sans', sans-serif;
}

main .habilidades h1 {
    font-weight: 500;
    font-size: 52px;
    line-height: 28px;
    color: var(--primary);
}

main .habilidades p {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: var(--secondary);
}

main .habilidades .atributo h2 {
    width: 215px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--primary);
}

main .habilidades .atributo p {
    width: 283px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary);
}

main .experiencia {
    background: var(--white);
}

main .experiencia .texto{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .experiencia .texto h1 {
    width: 383px;
    font-weight: 700;
    font-size: 42px;
    line-height: 28px;
    color: var(--primary);
}

main .experiencia .texto p {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: var(--secondary);
}

main .experiencia .texto .contacto {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--aqua-button);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: var(--white);
    border-radius: 100px;
}

main .experiencia .trabajo.dos,
main .experiencia .trabajo.cuatro,
main .experiencia .trabajo.cinco,
main .experiencia .trabajo.seis {
    /* display: none; */
}

main .experiencia .trabajo {
    padding-left: 32px;
    font-family: 'DM Sans', sans-serif;
}

main .experiencia .trabajo img {
    width: 100%;
    border-radius: 10px;
}

main .experiencia .trabajo h2 {
    width: 509px;
    height: 32px;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: var(--primary);
}

main .experiencia .trabajo p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary);
}

main .informacion {
    font-family: 'DM Sans', sans-serif;
    background: var(--white2);
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .informacion h3 {
    width: 277px;
    height: 70px;
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: -1px;
    color: var(--primary);
}

main .informacion h3 a {
    color: var(--tertiary);
}

main .informacion .icons {
    width: 250px;
    display: flex;
    justify-content: space-around;
}

main .informacion .icons img {
    width: 27px;
}


@media screen and (min-width: 600px) {

    main .presentacion p {
        width: 369px;
        height: 153px;
    }

    main .presentacion img {
        width: 359px;
        height: 236px;
    }
    
    main .habilidades h1 {
        width: 383px;
    }

    main .habilidades p {
        width: 458px;
        height: 153px;
    }

    main .experiencia .texto p {
        width: 458px;
        height: 154px;
    }

    main .experiencia .trabajo img {
        height: 255px;
        width: 509px;
    }

    main .experiencia .trabajo p {
        width: 505px;
        height: 52px;
    }
}