:root {
    --primary:#1E0E62;
    --secondary:#15143966;
    --tertiary:#482BE7;
    --white:#FFF;
    --white2:#F1F1F1;
    --gray-border:#EBEAED;
    --gray-logo:#9999a7;
    --aqua-button:#25DAC5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.header {
    background: var(--white);
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header .logo {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary);
}
.header .email {
    width: 67.5px;
    height: 27px;
    border: 2px solid var(--gray-border);
    border-radius: 100px;
    background: var(--white);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
    color: var(--primary);
}

.header .email:hover {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}

main .presentacion {
    background: var(--white2);
    padding: 67px 0 0 8%;
}

main .presentacion h1 {
    font-weight: 700;
    font-size:  29px;
    line-height: 39px;
    padding-bottom: 36px;
    color: var(--primary);
}

main .presentacion p {
    width: 70%;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 18px;
    padding-bottom: 33px;
    color: var(--secondary);
}

main .presentacion img {
    width: 78%;
    border-radius: 10px;
}

main .habilidades {
    background: var(--white2);
    padding: 76px 0 54px 8%;
}

main .habilidades h1 {
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 10px;
    color: var(--primary);
}

main .habilidades p {
    width: 86%;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 21px;
    padding-bottom: 45px;
    color: var(--secondary);
}

main .habilidades .atributo {
    padding: 7px 0 0 3.3%;
}

main .habilidades .atributo h2 {
    font-weight: 500;
    font-size: 13px;
    color: var(--primary);
    padding-bottom: 15px;
}

main .habilidades .atributo p {
    width: 61%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--secondary);
}

main .experiencia {
    background: var(--white);
    padding: 59px 0 28px 0;
}

main .experiencia .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
}

main .experiencia .texto h1 {
    font-weight: 500;
    font-size: 37px;
    padding-bottom: 8px;
    color: var(--primary);
}

main .experiencia .texto p {
    width: 74%;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    padding-bottom: 20px;
    color: var(--secondary);
}

main .experiencia .texto .contacto {
    width: 136px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--aqua-button);
    font-weight: 500;
    font-size: 12px;
    color: var(--white);
    border-radius: 100px;
}

main .experiencia .texto .contacto:hover {
    font-weight: 700;
    background: var(--primary);
}

main .experiencia .trabajo.dos,
main .experiencia .trabajo.cuatro,
main .experiencia .trabajo.cinco,
main .experiencia .trabajo.seis {
    display: none;
}

main .experiencia .trabajo {
    padding: 0 0 0 5.3%;
}

main .experiencia .trabajo img {
    width: 90%;
    border-radius: 10px;
}

main .experiencia .trabajo h2 {
    font-weight: 500;
    font-size: 16px;
    padding: 9px 0;
    color: var(--primary);
}

main .experiencia .trabajo p {
    width: 85%;
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
    color: var(--secondary);
    padding-bottom: 30px;
}

main .informacion {
    background: var(--white2);
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .informacion h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: var(--primary);
    padding-bottom: 25px;
    letter-spacing: -1px;
}

main .informacion h3 a {
    color: var(--tertiary);
}

main .informacion h3 a:hover {
    text-decoration: underline;
}

main .informacion .icons {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .informacion .icons img {
    width: 22px;
}

/* icons looks small */
@media screen and (min-width:400px) {
    main .informacion .icons img {
        width: 24px;
    }
}
/* Tablets */
@media screen and (min-width:600px) { 
    /* :root {
        --white2: #343434a;
        --white: #141414a;
        --primary: #fffaa;
        --secondary: #f1f1f1a;
        --tertiary:#00d9ffa;
    } */

    .header {
        height: 94px;
    }
    
    .header .logo {
        font-size: 24px;
    }
    .header .email {
        width: 100px;
        height: 40px;
        font-size: 16px;
    }
    
    main .presentacion {
        padding: 100px 0 0 8%;
    }
    
    main .presentacion h1 {
        width: 422px;
        height: 169px;
        font-size:  43px;
        line-height: 60px;
        padding-bottom: 0;
    }
    
    main .presentacion p {
        width: 369px;
        height: 153px;
        font-size: 22px;
        line-height: 26px;
    }
    
    main .presentacion img {
        width: 67%;
    }
    
    main .habilidades {
        padding: 117px 0 100px 8%;
    }
    
    main .habilidades h1 {
        font-size: 52px;
        padding-bottom: 15px;
    }
    
    main .habilidades p {
        width: 458px;
        height: 153px;
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 13px;
    }
    
    main .habilidades .atributo {
        padding: 0 0 0 3.3%;
    }
    
    main .habilidades .atributo h2 {
        width: 215px;
        font-size: 18px;
        padding-bottom: 21px
    }
    
    main .habilidades .atributo p {
        width: 283px;
        font-size: 16px;
        line-height: 26px;
    }
    
    main .experiencia {
        padding: 87px 0 40px 0;
    }
    
    main .experiencia .texto h1 {
        width: 383px;
        font-size: 52px;
        padding-bottom: 10px;
    }
    
    main .experiencia .texto p {
        width: 458px;
        height: 154px;
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 0;
    }
    
    main .experiencia .texto .contacto {
        width: 200px;
        height: 50px;
        font-size: 18px;
    }
    
    main .experiencia .trabajo.dos,
    main .experiencia .trabajo.cuatro {
        display: block;
    }
    
    main .experiencia .trabajo h2 {
        font-size: 22px;
        padding: 12px 0;
    }
    
    main .experiencia .trabajo p {
        width: 505px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 40px;
    }
    
    main .informacion {
        padding: 100px 0;
    }
    
    main .informacion h3 {
        font-size: 22px;
        line-height: 35px;
        padding-bottom: 40px;
    }
    
    main .informacion .icons {
        width: 35%;
    }
    
    main .informacion .icons img {
        width: 30px;
    }

    main .informacion .icons img:hover {
        padding: 2px;
    }
}

/* Big tablets */
@media screen and (min-width:900px) {
    .header {
        height: 100px;
        padding: 30px 8%;
    }

    main .presentacion {
        padding: 53px 0 15px 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    main .presentacion img {
        width: 35%;
        height: 300px;
        margin-right: 9%;
    }
    
    main .habilidades {
        padding: 100px 0 43px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    main .habilidades h1 {
        width: 312px;
        height: 52px;
        font-weight: 700;
        font-size: 42px;
        letter-spacing: -0.4px;
        padding-bottom: 0;
        margin-bottom: 40px;
    }
    
    main .habilidades p {
        width: 793px; 
        height: 64px;
        padding-bottom: 0;
        margin-bottom: 95px;
    }
    
    main .habilidades .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .habilidades .atributo {
        padding: 0 4% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    main .habilidades .atributo h2 {
        height: 28px;
        padding-bottom: 0;
        margin-bottom: 21px;
    }
    
    main .habilidades .atributo p {
        width: 200px;
        height: 78px;
    }
    
    main .experiencia {
        padding: 100px 0 52px 0;
    }
    
    main .experiencia .texto {
        padding-bottom: 80px;
    }
    
    main .experiencia .texto h1 {
        width: 654px;
        height: 52px;
        font-weight: 700;
        font-size: 42px;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
    
    main .experiencia .texto p {
        width: 758px;
        height: 64px;
        margin-bottom: 55px;
    }

    main .experiencia .trabajo.uno,
    main .experiencia .trabajo.tres,
    main .experiencia .trabajo.cinco,
    main .experiencia .trabajo.seis {
        display: block;
    }
    
    main .experiencia .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    main .experiencia .trabajo.dos,
    main .experiencia .trabajo.cinco {
        margin: 0 20px;
    }

    main .experiencia .trabajo {
        padding: 0 0 0 0;
        width: 269px;
    }

    main .experiencia .trabajo img {
        width: 100%;
    }
    
    main .experiencia .trabajo p {
        width: 100%;
    }
    
    main .informacion {
        padding: 194px 0;
    }
    
    main .informacion h3 {
        font-size: 58px;
        line-height: 75px;
        padding-bottom: 137px;
    }
    
    main .informacion .icons {
        width: 45%;
    }
    
    main .informacion .icons img {
        width: 80px;
    }
}

/* Desktop */
@media screen and (min-width:1133px) {
    main .presentacion img {
        width: 45%;
        height: 400px;
    }

    main .habilidades .atributo p {
        width: 283px;
    }

    main .experiencia .trabajo.dos,
    main .experiencia .trabajo.cinco {
        margin: 0 30px;
    }

    main .experiencia .trabajo {
        width: 331px;
    }

    main .experiencia .trabajo h2 {
        padding: 0;
        margin: 20px 0 10px 0;
    }

    main .experiencia .trabajo p {
        width: 367px;
        height: 52px;
        padding: 0;
        margin-bottom: 70px;
    }
}

@media screen and (min-width:1260px) {
    main .presentacion img {
        width: 580px;
        height: 451px;
    }
}

/* Big desktop */
@media screen and (min-width:1401px) {
    main .experiencia .trabajo {
        width: 25%;
    }
}