:root {
    --primary:#1E0E62;
    --secondary:#15143966;
    --tertiary:#482BE7;
    --white:#FFF;
    --white2:#F1F1F1;
    --gray-border:#EBEAED;
    --gray-logo:#9999a7;
    --aqua-button:#25DAC5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.header {
    background: var(--white);
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header .logo {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.3;
    color: var(--primary);
}
.header .email {
    width: 67.5px;
    height: 27px;
    border: 2px solid var(--gray-border);
    border-radius: 100px;
    background: var(--white);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: var(--primary);
}

main .presentacion {
    background: var(--white2);
    padding: 67px 0 0 8%;
}

main .presentacion h1 {
    font-weight: 700;
    font-size:  29px;
    line-height: 39px;
    padding-bottom: 36px;
    color: var(--primary);
}

main .presentacion p {
    width: 70%;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 18px;
    padding-bottom: 33px;
    color: var(--secondary);
}

main .presentacion img {
    width: 78%;
    border-radius: 10px;
}

main .habilidades {
    background: var(--white2);
    padding: 76px 0 54px 8%;
}

main .habilidades h1 {
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 10px;
    color: var(--primary);
}

main .habilidades p {
    width: 86%;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 21px;
    padding-bottom: 45px;
    color: var(--secondary);
}

main .habilidades .atributo {
    padding: 7px 0 0 3.3%;
}

main .habilidades .atributo h2 {
    font-weight: 500;
    font-size: 13px;
    color: var(--primary);
    padding-bottom: 15px;
}

main .habilidades .atributo p {
    width: 61%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--secondary);
}

main .experiencia {
    background: var(--white);
    padding-top: 59px;
}

main .experiencia .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
}

main .experiencia .texto h1 {
    font-weight: 500;
    font-size: 37px;
    padding-bottom: 8px;
    color: var(--primary);
}

main .experiencia .texto p {
    width: 74%;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    padding-bottom: 20px;
    color: var(--secondary);
}

main .experiencia .texto .contacto {
    width: 136px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--aqua-button);
    font-weight: 500;
    font-size: 12px;
    color: var(--white);
    border-radius: 100px;
}

main .experiencia .trabajo.dos,
main .experiencia .trabajo.cuatro,
main .experiencia .trabajo.cinco,
main .experiencia .trabajo.seis {
    display: none;
}

main .experiencia .trabajo {
    padding: 0 0 28px 5.3%;
}

main .experiencia .trabajo img {
    width: 90%;
    border-radius: 10px;
}

main .experiencia .trabajo h2 {
    font-weight: 500;
    font-size: 16px;
    padding: 9px 0;
    color: var(--primary);
}

main .experiencia .trabajo p {
    width: 85%;
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
    color: var(--secondary);
    padding-bottom: 30px;
}

main .informacion {
    background: var(--white2);
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .informacion h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: var(--primary);
    padding-bottom: 25px;
    letter-spacing: -1px;
}

main .informacion h3 a {
    color: var(--tertiary);
}

main .informacion .icons {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .informacion .icons img {
    width: 22px;
}

/* Tablets */
@media screen and (min-width:600px) { 
    /* :root {
        --white2: #343434a;
        --white: #141414a;
        --primary: #fffaa;
        --secondary: #f1f1f1a;
        --tertiary:#00d9ffa;
    } */

    .header {
        height: 94px;
    }
    
    .header .logo {
        font-size: 24px;
    }
    .header .email {
        width: 100px;
        height: 40px;
        font-size: 16px;
    }
    
    main .presentacion {
        padding: 100px 0 0 8%;
    }
    
    main .presentacion h1 {
        width: 422px;
        height: 169px;
        font-size:  43px;
        line-height: 60px;
        padding-bottom: 0;
    }
    
    main .presentacion p {
        width: 369px;
        height: 153px;
        font-size: 22px;
        line-height: 26px;
    }
    
    main .presentacion img {
        width: 67%;
    }
    
    main .habilidades {
        padding: 117px 0 100px 8%;
    }
    
    main .habilidades h1 {
        font-size: 52px;
        padding-bottom: 15px;
    }
    
    main .habilidades p {
        width: 458px;
        height: 153px;
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 13px;
    }
    
    main .habilidades .atributo {
        padding: 0 0 0 3.3%;
    }
    
    main .habilidades .atributo h2 {
        width: 215px;
        font-size: 18px;
        padding-bottom: 21px
    }
    
    main .habilidades .atributo p {
        width: 283px;
        font-size: 16px;
        line-height: 26px;
    }
    
    main .experiencia {
        padding-top: 87px;
    }
    
    main .experiencia .texto h1 {
        width: 383px;
        font-size: 52px;
        padding-bottom: 10px;
    }
    
    main .experiencia .texto p {
        width: 458px;
        height: 154px;
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 0;
    }
    
    main .experiencia .texto .contacto {
        width: 200px;
        height: 50px;
        font-size: 18px;
    }
    
    main .experiencia .trabajo.dos,
    main .experiencia .trabajo.cuatro {
        display: block;
    }
    
    main .experiencia .trabajo {
        padding: 0 0 80px 5.3%;
    }
    
    main .experiencia .trabajo h2 {
        font-size: 22px;
        padding: 12px 0;
    }
    
    main .experiencia .trabajo p {
        width: 505px;
        height: 52px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 40px;
    }
    
    main .informacion {
        padding: 100px 0;
    }
    
    main .informacion h3 {
        font-size: 22px;
        line-height: 35px;
        padding-bottom: 40px;
    }
    
    main .informacion .icons {
        width: 35%;
    }
    
    main .informacion .icons img {
        width: 30px;
    }
}